body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1564px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:698px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1197 {
  position:absolute;
  left:7px;
  top:66px;
  width:923px;
  height:698px;
}
#u1198 {
  position:absolute;
  left:2px;
  top:341px;
  width:919px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1199 {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:49px;
  color:#000000;
}
#u1200 {
  position:absolute;
  left:2px;
  top:16px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u1201 {
  position:absolute;
  left:59px;
  top:13px;
  width:81px;
  height:23px;
  font-size:20px;
  color:#999999;
}
#u1202 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u1203 {
  position:absolute;
  left:741px;
  top:14px;
  width:113px;
  height:22px;
  font-size:16px;
  color:#999999;
}
#u1204 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:24px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
}
#u1205 {
  position:absolute;
  left:864px;
  top:12px;
  width:86px;
  height:24px;
  color:#FFFFFF;
}
#u1206 {
  position:absolute;
  left:2px;
  top:4px;
  width:82px;
  word-wrap:break-word;
}
#u1207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1207 {
  position:absolute;
  left:58px;
  top:88px;
  width:102px;
  height:46px;
}
#u1208 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u1209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1209 {
  position:absolute;
  left:58px;
  top:154px;
  width:102px;
  height:46px;
}
#u1210 {
  position:absolute;
  left:2px;
  top:16px;
  width:98px;
  word-wrap:break-word;
}
#u1211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1211 {
  position:absolute;
  left:58px;
  top:219px;
  width:102px;
  height:46px;
}
#u1212 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u1213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:340px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1213 {
  position:absolute;
  left:361px;
  top:107px;
  width:428px;
  height:340px;
}
#u1214 {
  position:absolute;
  left:2px;
  top:162px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:43px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1215 {
  position:absolute;
  left:370px;
  top:127px;
  width:186px;
  height:43px;
  text-align:left;
}
#u1216 {
  position:absolute;
  left:2px;
  top:14px;
  width:182px;
  word-wrap:break-word;
}
#u1217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:43px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1217 {
  position:absolute;
  left:370px;
  top:158px;
  width:278px;
  height:43px;
  text-align:left;
}
#u1218 {
  position:absolute;
  left:2px;
  top:14px;
  width:274px;
  word-wrap:break-word;
}
#u1219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:43px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1219 {
  position:absolute;
  left:370px;
  top:187px;
  width:215px;
  height:43px;
  text-align:left;
}
#u1220 {
  position:absolute;
  left:2px;
  top:14px;
  width:211px;
  word-wrap:break-word;
}
#u1221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:43px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1221 {
  position:absolute;
  left:370px;
  top:219px;
  width:186px;
  height:43px;
  text-align:left;
}
#u1222 {
  position:absolute;
  left:2px;
  top:14px;
  width:182px;
  word-wrap:break-word;
}
#u1223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1223 {
  position:absolute;
  left:370px;
  top:313px;
  width:77px;
  height:19px;
  text-align:left;
}
#u1224 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u1225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1225 {
  position:absolute;
  left:649px;
  top:476px;
  width:140px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u1226 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u1227 {
  position:absolute;
  left:19px;
  top:16px;
  width:23px;
  height:20px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229 {
  position:absolute;
  left:439px;
  top:311px;
  width:209px;
  height:25px;
}
#u1229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1230 {
  position:absolute;
  left:370px;
  top:346px;
  width:56px;
  height:19px;
  text-align:left;
}
#u1231 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u1232 {
  position:absolute;
  left:439px;
  top:342px;
  width:209px;
  height:25px;
}
#u1232_input {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1233 {
  position:absolute;
  left:370px;
  top:377px;
  width:69px;
  height:19px;
  text-align:left;
}
#u1234 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1235 {
  position:absolute;
  left:439px;
  top:373px;
  width:209px;
  height:25px;
}
#u1235_input {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1236 {
  position:absolute;
  left:370px;
  top:265px;
  width:73px;
  height:18px;
}
#u1237 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1238 {
  position:absolute;
  left:439px;
  top:265px;
  width:209px;
  height:22px;
}
#u1238_input {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1238_input:disabled {
  color:grayText;
}
#u1239 {
  position:absolute;
  left:724px;
  top:200px;
  width:0px;
  height:0px;
  color:#008000;
}
#u1239_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u1239_seg1 {
  position:absolute;
  left:-4px;
  top:-2px;
  width:203px;
  height:8px;
}
#u1239_seg2 {
  position:absolute;
  left:184px;
  top:-8px;
  width:20px;
  height:20px;
}
#u1240 {
  position:absolute;
  left:48px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u1241 {
  position:absolute;
  left:934px;
  top:196px;
  width:589px;
  height:2px;
  color:#008000;
}
#u1242 {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  word-wrap:break-word;
}
#u1243 {
  position:absolute;
  left:765px;
  top:491px;
  width:0px;
  height:0px;
  color:#008000;
}
#u1243_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u1243_seg1 {
  position:absolute;
  left:-4px;
  top:-2px;
  width:203px;
  height:8px;
}
#u1243_seg2 {
  position:absolute;
  left:184px;
  top:-8px;
  width:21px;
  height:20px;
}
#u1244 {
  position:absolute;
  left:49px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u1245 {
  position:absolute;
  left:975px;
  top:487px;
  width:589px;
  height:2px;
  color:#008000;
}
#u1246 {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  word-wrap:break-word;
}
#u1247 {
  position:absolute;
  left:658px;
  top:284px;
  width:0px;
  height:0px;
  color:#008000;
}
#u1247_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u1247_seg1 {
  position:absolute;
  left:-4px;
  top:-2px;
  width:203px;
  height:8px;
}
#u1247_seg2 {
  position:absolute;
  left:184px;
  top:-8px;
  width:20px;
  height:20px;
}
#u1248 {
  position:absolute;
  left:48px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u1249 {
  position:absolute;
  left:864px;
  top:275px;
  width:589px;
  height:2px;
  color:#008000;
}
#u1250 {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  word-wrap:break-word;
}
